{{#if editQuestionForm}}
  <h3>Edit this question</h3>
  <div>
    <form class="ui form">
      <div class="field">
        <label for="title">Question</label>
        {{input value=title id="title" placeholder=question.title}}
      </div>
      <div class="field">
        <label for="author">Who's asking?</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>
      {{#ui-dropdown class="selection" selected="type" onChange=(action (mut type))}}
        <div class="default text">{{question.type}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" value="general">
            General Question
          </div>
          <div class="item" value="vertabrate">
            Marine Vertabrates
          </div>
          <div class="item" value="invertabrate">
            Marine Invertabrates
          </div>
        </div>
          {{/ui-dropdown}}
      <div class="field">
        <label for="content">Question Details</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>
      <button class="ui button" {{action 'edit' question}}>Save!</button>
    </form>
    <div class="ui section divider"></div>
  </div>
  {{else}}
  <button class="ui right floated button" {{action 'editQuestionForm'}}>Edit</button>
  {{/if}}
