<h2>{{question.title}}</h2>

<p>
  "<em>{{question.content}}</em>" - {{question.author}}
</p>

<h3>Answers</h3>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

<button class="ui icon button"{{action 'delete' question}}><i class="trash icon"></i></button>
