<div class="well">
<h2>{{question.title}}</h2>
<p>
  "<em>{{question.content}}</em>" - {{question.author}}
</p>
</div>

<h3>Answers</h3>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>

<button class="ui icon right floated red button"{{action 'delete' question}}><i class="trash icon"></i></button>
