<div class="well">
<li>
  {{classification-icon question.classification}}
  {{#link-to 'question' question.id}}<h3>{{question.title}}</h3>{{/link-to}}
  <p>{{secondaryDisplay}}</p>
  <!-- <p>{{answerCount}} answers</p> -->
  <i class="save large icon" {{action 'saveThisQuestion' question}}></i>
</li>
</div>
